---
import Layout from "../layouts/Layout.astro";
import TitledSection from "../components/TitledSection.astro";
import Card from "../components/Card.astro";

import projects from "../resources/projects.json";
import sablito from "/public/media/sablito_20.jpg";
---

<Layout title="Hello!">
    <section class="intro">
        <div class="container">
            <div class="content">
                <div class="main">
                    <h1>Hey, I'm <span class="name">Marius</span>.</h1>
                    <h1>I'm <i>not</i> a designer.</h1>
                </div>
                <div class="text">
                    <h3>But I do like to make stuff</h3>
                </div>
            </div>
            <div class="img">
                <img src={sablito} alt="">
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <TitledSection title="About Me" invertColours={true}>
                <p>
                    I'm a 2nd year BS Computer Science student in the University of the Philippines-Diliman. Currently, I am part of the IT committee of the UP Career Assistance Program for Engineering Students (UP CAPES) as well as an applicant to the UP Association of Computer Science Majors (UP CURSOR)
                </p>
                <p>
                    I have a passion for creating and seeing things I make come to life. However, I do admit that I do not have a designer's eye, so I tend to stick with more practical, less visually-demanding personal projects. Despite that, I am currently learning web development and this website is a culmination of that.
                </p>
                <p class="dark-bg">
                    I haven't had any professional experience yet in the field, but I'm looking for opportunities to gain some. If you know of any, please <a href="/contact">let me know</a>!
                </p>
            </TitledSection>
            
            <p></p>
        </div>
    </section>
    <section class="projects">
        <div class="container">
            <TitledSection title="Projects">
                <p>Here are some of the stuff I've done in the past.</p>
            </TitledSection>
            <div class="content">
                {projects.map((project) => (
                    <Card title={project.title} tags={project.tags}>
                        <p>{project.content}</p>
                        <p>
                            {project.links.map((link) => (
                                    <a href={link.url} target="_blank">{link.name}</a><br />
                                
                            ))}
                        </p>
                    </Card>
                ))}
            </div>
        </div>
    </section>
</Layout>

<style>
/* Intro */

.intro .container {
    margin: 30px auto;
    min-height: calc(70vh);
    display: flex;
    justify-content: space-between;
    max-width: min(1200px, 80vw);
}

.intro .container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .container .content .main {
    line-height: 1.2;
    margin-bottom: 30px;
}

.intro h1 {
    margin: 0
}

.intro h3 {
    font-weight: normal;
}

.intro img {
    max-height: 35vh;
    border-radius: 50%;
    margin-bottom: 30px;
}

.intro .name {
    background-color: var(--color-primary-light);
}

/* About */

.about {
    background: var(--color-black);
    color: var(--color-white);
}

.about p {
    color: var(--color-white);
}

/* Projects */

.projects .content {
    display: flex;
    margin: 0 -0.5rem;
    margin: 0;
    padding: 0;
    width: 100%;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
}

@media (max-width: 960px) {
    .intro .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .intro .container .content {
        text-align: center;
    }

    .intro img {
        max-height: 30vh;
    }

}
</style>