---
import Status from './Status.astro';

export interface Props {
    name: string;
    title?: string;
    method?: string;
    netlify?: boolean;
    honeypot?: string;
    action?: string;
}

const { name, title, method="POST", netlify=false, honeypot="", action="" } = Astro.props as Props;
const status = Astro.url.searchParams.get("status");
---

<form 
    id={name.toLowerCase()}
    name={name.toLowerCase()}
    method={method} 
    data-netlify={netlify ? "true" : "false"}
    data-netlify-honeypot={honeypot ? honeypot : null}
    action={action} >
    {honeypot && <input name={honeypot} hidden/>}
    {title && <h3>{title}</h3>}
    <slot />
    <Status status={status} />
</form>

<style>
form {
    padding: 24px;
    background-color: #fdfeff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}
</style>