---
import '../styles/forms.css';

export interface Props {
    name: string;
    id: string;
    placeholder?: string;
    required?: boolean;
    resize?: string;
    rows?: number;
}

const { name, id, placeholder="", resize="inherit", rows=3, required=false} = Astro.props as Props;
---


<div class="input-group">
    <label for={id} class={required && 'required'}>{name}</label>
    <textarea name={name.toLowerCase()} id={id} placeholder={placeholder} rows={rows} required={required}></textarea>    
</div>

<style define:vars={{ resize }}>
textarea {
    resize: var(--resize);
}
</style>